.footer {
    margin: 0 auto;
    padding: 0;
    margin-top: 98px;
    margin-bottom: 60px;
    max-width: 880px;
    margin-top: 68px;
  }
  
  @media screen and (max-width: 960px) {
    .footer {
      width: calc(100% - 76px);
    }
  }
  
  @media screen and (max-width: 540px) {
    .footer {
      width: calc(100% - 38px);
      margin-top: 48px;
      margin-bottom: 36px;
    }
  }
  